<body>
 <div class="content clearfix">
   <div class="main-content">
    <div class="title"><h3><strong>Genre</strong></h3></div>
      <div class="item-content">

        <%= link_to genre_path(1) do %>
          <div class="portfolio-item">
              <div class="portfolio-item-content">
                <img class="portfolio-image" src="/icon_124452_128.png">
                <div class="item-text">J-POP</div>
              </div>
          </div>
        <% end %>

        <%= link_to "genre/HIP-HOP", controller: "genres", action: "show", genre_id: 1 do %>
          <div class="portfolio-item">
            <div class="portfolio-item-content">
               <img class="portfolio-image" src="/icon_143142_128.png">
              <div class="item-text">HIP-HOP</div>
            </div>
          </div>
        <% end %>

        <%= link_to "genre/レゲエ", controller: "genres", action: "show", genre_id: 2 do %>
          <div class="portfolio-item">
            <div class="portfolio-item-content">
              <img class="portfolio-image" src="/icon_133092_128.png">
              <div class="item-text">レゲエ</div>
            </div>
          </div>
        <% end %>

        <%= link_to "genre/R&B", controller: "genres", action: "show", genre_id: 3 do %>
          <div class="portfolio-item">
            <div class="portfolio-item-content">
              <img class="portfolio-image" src="/icon_102082_128.png">
              <div class="item-text">R&B</div>
            </div>
          </div>
        <% end %>

        <%= link_to "genre/JAZZ", controller: "genres", action: "show", genre_id: 4 do %>
          <div class="portfolio-item">
            <div class="portfolio-item-content">
              <img class="portfolio-image" src="/icon_129622_128.png">
               <div class="item-text">JAZZ</div>
            </div>
          </div>
        <% end %>

        <%= link_to "genre/ロック", controller: "genres", action: "show", genre_id: 5 do %>
          <div class="portfolio-item">
            <div class="portfolio-item-content">
              <img class="portfolio-image" src="/icon_129712_128.png">
              <div class="item-text">ロック</div>
            </div>
          </div>
        <% end %>

        <%= link_to "genre/ELECTRONIC", controller: "genres", action: "show", genre_id: 6 do %>
          <div class="portfolio-item">
            <div class="portfolio-item-content">
              <img class="portfolio-image" src="/icon_149462_128.png">
               <div class="item-text">ELECTRONIC</div>
            </div>
          </div>
        <% end %>

        <%= link_to "genre/K-POP", controller: "genres", action: "show", genre_id: 7 do %>
          <div class="portfolio-item">
            <div class="portfolio-item-content">
              <img class="portfolio-image" src="/icon_000892_128.png">
               <div class="item-text">K-POP</div>
            </div>
          </div>
        <% end %>

        <%= link_to "genre/オルタナティブ", controller: "genres", action: "show", genre_id: 8 do %>
          <div class="portfolio-item">
            <div class="portfolio-item-content">
              <img class="portfolio-image" src="/icon_129702_128.png">
               <div class="item-text">オルタナティブ</div>
            </div>
          </div>
        <% end %>

      </div>
   </div>
 </div>
</body>
</html>



