<body>
 <div class="content clearfix">
   <div class="main-content">
    <div class="title"><h3><strong>Genre</strong></h3></div>
      <div class="item-content">


          <div class="portfolio-item">
            <%= link_to genre_path(0) do %>
              <div class="portfolio-item-content">
                <img class="portfolio-image" src="/icon_124452_128.png">
                <div class="item-text">J-POP</div>
              </div>
            <% end %>
          </div>



          <div class="portfolio-item">
            <%= link_to genre_path(1) do %>
              <div class="portfolio-item-content">
                 <img class="portfolio-image" src="/icon_143142_128.png">
                <div class="item-text">HIP-HOP</div>
              </div>
            <% end %>
          </div>



          <div class="portfolio-item">
            <%= link_to genre_path(2) do %>
              <div class="portfolio-item-content">
                <img class="portfolio-image" src="/icon_133092_128.png">
                <div class="item-text">レゲエ</div>
              </div>
            <% end %>
          </div>



          <div class="portfolio-item">
            <%= link_to genre_path(3) do %>
              <div class="portfolio-item-content">
                <img class="portfolio-image" src="/icon_102082_128.png">
                <div class="item-text">R&B</div>
              </div>
            <% end %>
          </div>



          <div class="portfolio-item">
            <%= link_to genre_path(4) do %>
              <div class="portfolio-item-content">
                <img class="portfolio-image" src="/icon_129622_128.png">
                 <div class="item-text">JAZZ</div>
              </div>
            <% end %>
          </div>



          <div class="portfolio-item">
            <%= link_to genre_path(5) do %>
              <div class="portfolio-item-content">
                <img class="portfolio-image" src="/icon_129712_128.png">
                <div class="item-text">ロック</div>
              </div>
            <% end %>
          </div>



          <div class="portfolio-item">
            <%= link_to genre_path(6) do %>
              <div class="portfolio-item-content">
                <img class="portfolio-image" src="/icon_149462_128.png">
                 <div class="item-text">ELECTRONIC</div>
              </div>
            <% end %>
          </div>



          <div class="portfolio-item">
            <%= link_to genre_path(7) do %>
              <div class="portfolio-item-content">
                <img class="portfolio-image" src="/icon_000892_128.png">
                 <div class="item-text">K-POP</div>
              </div>
            <% end %>
          </div>



          <div class="portfolio-item">
            <%= link_to genre_path(8) do %>
              <div class="portfolio-item-content">
                <img class="portfolio-image" src="/icon_129702_128.png">
                 <div class="item-text">オルタナティブ</div>
              </div>
            <% end %>
          </div>


      </div>
   </div>
 </div>
</body>
</html>



