<body>
  <div class="content clearfix">
    <div class="main-content">
      <div class="title"><h3><strong>Artist</strong></h3></div>
        <div class="item-content">
            <% @artist.each do |artists| %>
              <div class="111">
                <div class="222">
                  <% if admin_signed_in? %>
                    <%= link_to admin_artist_path(artists.id) do %>
                    <%= attachment_image_tag artists, :artist_image, :fill, 300, 300, format: 'jpg', class: "artist-item" %>
                    <% end %>
                  <% else %>
                    <%= link_to artist_path(artists.id) do %>
                    <%= attachment_image_tag artists, :artist_image, :fill, 300, 300, format: 'jpg', class: "artist-item" %>
                    <% end %>
                  <% end %>
                </div>
                <div class="artist-text">
                  <div class="artist-name"><p><%= artists.name %></p></div>
                </div>
              </div>
            <% end %>
        </div>
        <div class="pagenation">
         <%= paginate @artist, class: "pagenate" %>
        </div>
    </div>
  </div>
</body>













