<div class="admin-show-container">
  <div class="main-content">
    <div class="row admin-main">
      <div class="col-xs-12 col-sm-12">
        <div class="user-title">
        <span><strong>管理者用ページ</strong></span></div>

        <div class="col-xs-1 col-sm-1"></div>
        <div class="profile-info col-xs-10 col-sm-10">
          <div class="user-index-title"><p><strong>ユーザー一覧</strong></p></div>
          <table class="user-index-table" style="table-layout:fixed;width:100%;">
              <tr>
                <th style="width:15%;">ユーザーID</th>
                <th style="width:15%;"></th>
                <th style="width:15%;">ユーザー名</th>
                <th style="width:15%;">住所</th>
                <th style="width:15%;">電話番号</th>
                <th style="width:10%;"></th>
                <th style="width:10%;"></th>
              </tr>
              <% @user.each do |f| %>
                <tr class="user-index-sabtable">
                <td><%= f.id %></td>
                <td><% if f.profile_image_id == "0" %>
                  <%= image_tag '/user2.png', class: "user-nopic-index" %>
                  <% else %>
                  <%= attachment_image_tag current_user, :profile_image, :fill, 50, 50, format: 'jpg', class: "user-pic-index" %>
                  <% end %>
                </td>
                <td><%= f.name %></td>
                <td><%= f.address %></td>
                <td><%= f.tel %></td>
                <td><%= link_to "編集", edit_admin_user_path(f.id), class: "btn btn-success" %></td>
                <td><%= link_to "強制退会", admin_user_path(f.id), method: :delete, "data-confirm" => "本当に退会させますか？",class: "btn btn-danger text-right" %></td>
                </tr>
              <% end %>
          </table>
        </div>
        <div class="col-xs-1 col-sm-1"></div>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>

