<!-- main -->
<div class="container-fluid">
  <div class="row">
    <div class="new-artist-main">
      <div class="new-artist-title"><p><strong>アーティスト編集</strong></p></div>

      <div class="col-sm-12 artist-header-menu">
          <div class="col-sm-12 artist-header-bar">
            <div class="col-sm-6 artist-header-title"><p>Header Pic</p></div>
            <div class="col-sm-6 artist-header-title"><p>Artist Pic</p></div>
          </div>

            <div class="artist-edit-header-left col-sm-6">
              <%= attachment_image_tag @artist, :top_image, :fill, 350, 250, format: 'jpg' %>
            </div>
            <div class="artist-edit-header-right col-sm-6">
              <%= attachment_image_tag @artist, :artist_image, :fill, 250, 250, format: 'jpg' %>
            </div>

      </div>
      <div class="col-sm-12">
       <div class="col-sm-8"></div>

           <div class="artist-forms">
             <%= form_for(@artist) do |f| %>

              <h4>Artist Name</h4>
              <%= f.text_field :name, class: "form-control" %>

              <h4>Artist Profile</h4>
              <%= f.text_area :body, class: "form-control" %>

              <h4>Header Pic</h4>
              <%= f.attachment_field :top_image%>

              <h4>Artist Pic</h4>
              <%= f.attachment_field :artist_image%>

              <%= f.submit value: "更新", class: "btn btn-warning btn-block artist-form-btn" %>

              <% end %>
            </div>



      </div>
    </div>
  </div>
</div>
