<div class="user-edit-container clearfix">
  <div class="row-edit">
    <div class="col-xs-8 col-xs-offset-2">
      <div class="title">
        <span><strong>Profile Edit</strong></span>
      </div>
    </div>

    <div class="col-xs-12 col-ms-12 user-edit-date">
      <div class= "user-pic col-xs-3 col-sm-3 col-xs-offset-2 col-sm-offset-2">
          <% if current_user.profile_image == nil %>
          <%= image_tag '/user2.png', class: "user-pic" %>
          <% else %>
          <%= attachment_image_tag @user, :profile_image, :fill, 230, 230, format: 'jpg', class: "user-pic" %>
          <% end %>
      </div>





      <div class="user-prof col-xs-5 col-sm-5">
            <%= form_for(@user) do |f| %>
            <%= f.attachment_field :profile_image %>
            <h5>ユーザー名</h5>
            <%= f.text_field :name, class: "form-control" %>
            <h5>メールアドレス</h5>
            <%= f.email_field :email, class: "form-control" %>
            <h5>姓</h5>
            <%= f.text_field :last_name, class: "form-control" %>
            <h5>姓（フリガナ）</h5>
            <%= f.text_field :last_name_furi, class: "form-control" %>
            <h5>名</h5>
            <%= f.text_field :first_name, class: "form-control" %>
            <h5>名（フリガナ）</h5>
            <%= f.text_field :first_name_furi, class: "form-control" %>
            <h5>郵便番号</h5>
            <%= f.text_field :zip, class: "form-control" %>
            <h5>住所</h5>
            <%= f.text_field :address, class: "form-control" %>
            <h5>電話番号</h5>
            <%= f.text_field :tel, class: "form-control" %>
            <%= f.submit "更新", class: "btn btn-warning btn-block user-edit-form-btn" %>
            <% end %>

            <%= link_to "退会", destroy_users_path, method: :delete, "data-confirm" => "本当に退会しますか？",class: "btn btn-danger text-right user-destroy-btn" %>
        </div>
      </div>
    </div>
  </div>
</div>
