<div class="user-show-container">
  <div class="user-main clearfix">
    <div class="col-xs-3 col-xs-offset-1 user-profile">
    <div class="user-edit-show-image">
      <% if @user.profile_image_id == "0" %>
      <%= image_tag '/user2.png' %>
      <% else %>
      <%= attachment_image_tag @user, :profile_image, :fill, 230, 230, format: 'jpg', class: "user-edit-pic" %>
      <% end %>
    </div>
    <%= link_to "プロフィール編集", edit_user_path(@user), class: "btn btn-primary user-edit-btn" %>
    </div>
    <div class="col-xs-3">
      <div class="user-title">
      <span><strong>プロフィール</strong></span>
      </div>
      <br>
    </div>
    <div class="col-xs-6 user-profile-containar">
      <div class="profile-content">
        <div class="col-xs-9 col-xs-offset-1">
          <div class="profile-info">
            <ul>
              <li>name: &nbsp;&nbsp;&nbsp; <%= @user.name %></li>
              <li>mail: &nbsp;&nbsp;&nbsp; <%= @user.email %></li>
              <li>tel: &nbsp;&nbsp;&nbsp; <%= @user.tel %></li>
              <li>addres: &nbsp;&nbsp;&nbsp; <%= @user.address %></li>
            </ul>
          <br>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-3">
      <div class="title">
      <span><strong>各種ページ</strong></span>
      </div>
    <br>
    </div>
    <div class="col-xs-6 col-xs-offset-4 user-profile-containar">
      <div class="profile-content">
            <%= link_to "新規住所登録", new_delivery_address_path, class: "btn btn-info user-btn" %>
            <%= link_to "購入履歴", orders_path(current_user), class: "btn btn-warning user-btn" %>
      </div>
    </div>
  </div>
</div>
