<div class="user-show-container">
  <div class="row">
      <div class="col-xs-2 col-xs-offset-2">
        <div class="user-show-image"></div>
        <br>
        <!-- <div class="col-xs-10 btn btn-primary">profile編集</div> -->
        <%=link_to "profile編集",edit_user_path(@user), class: "col-xs-10 btn btn-primary" %>
      </div>
        <div class="col-xs-3">
          <div class="user-title">
            <span><strong>Profile info</strong></span>
          </div>
          <br>
        </div>
        <div class="col-xs-6 user-profile-containar">
          <div class="profile-content">
            <div class="col-xs-9 col-xs-offset-1">
          <div class="profile-info">
            <ul>
              <li>name: &nbsp;&nbsp;&nbsp; <%= @user.name %></li>
              <li>mail: &nbsp;&nbsp;&nbsp; <%= @user.email %></li>
              <li>tel: &nbsp;&nbsp;&nbsp; <%= @user.tel %></li>
              <li>addres: &nbsp;&nbsp;&nbsp; <%= @user.address %></li>
            </ul>
            <br>
          </div>
        </div>
        </div>
        </div>
        <div class="col-xs-3 col-xs-offset-4">
          <div class="title">
            <span><strong>Buy Hisyory</strong></span>
          </div>
          <br>
        </div>
        <div class="col-xs-6 col-xs-offset-4 user-profile-containar">
          <div class="profile-content">
            <div class="col-xs-12">
          <div class="profile-info">
            <div class="buy-item">
          </div>
            <div class="buy-item">
          </div>
            <div class="buy-item">
          </div>
          <div class="buy-item">
          </div>
            <br>
            <div class="col-xs-2 col-xs-offset-10 btn btn-primary">一覧</div>
        </div>
        </div>
        </div>
      </div>

        <div class="col-xs-3 col-xs-offset-4">
          <div class="title">
            <span><strong>My Favorite</strong></span>
          </div>
          <br>
        </div>
        <div class="col-xs-6 col-xs-offset-4 user-profile-containar">
          <div class="profile-content">
            <div class="col-xs-12">
          <div class="profile-info">
            <div class="buy-item">
          </div>
            <div class="buy-item">
          </div>
            <div class="buy-item">
          </div>
          <div class="buy-item">
          </div>
            <br>
            <div class="col-xs-2 col-xs-offset-10 btn btn-primary">一覧</div>
        </div>
        </div>
        </div>
      </div>


      <div class="field">

      </div>

      <div class="field">

      </div>



      <div class="button">

      </div>
    </div>
      </div>
       </div>
</div>
