<div class="sidebar">
  <div class="user-content">
    <div class="user-image">
    </div>
    <div class="user-profile">
      <a class="my-side" href="#" style="text-decoration: none;">MY PROFILE</a>
      <a class="my-side" href="#" style="text-decoration: none;">CART</a>
      <a class="my-side" href="#" style="text-decoration: none;">MESSAGE</a>
      <a class="my-side" href="#" style="text-decoration: none;">LOGOUT</a>
    </div>
  </div>
</div>
<!-- main -->
<div class="container-fluid">
  <div class="row">
    <div class="new-artist-main">
      <div class="new-artist-title"><p><strong>アーティスト新規投稿</strong></p></div>
      <div class="artist-header col-sm-12">
        <%= attachment_image_tag @artist_show, :top_image, :fill, 100, 100, format: 'jpeg' %>
      </div>
      <div class="col-sm-12">
       <div class="col-sm-8"></div>
        <div class="artist-up col-sm-4">
         <a class="btn btn-default btn-block artist-upimage" href="#">イメージを選択</a>

            <%= form_for(@artist) do |f| %>

              <h4>タイトル</h4>
              <%= f.text_field :name %>

              <h4>本文</h4>
              <%= f.text_area :body %>


              <h4>画像</h4>
              <%= f.attachment_field :top_image_id%>


              <%= f.submit '投稿' %>

              <% end %>

        </div>
      </div>

        <div class="col-sm-4">
          <img src="/newsimg/1024px-No_image_available.svg.png" class="img-responsive">
          <a class="btn btn-default btn-block upimage" href="#">イメージを選択</a>
        </div>
        <div class="col-sm-8">
          <div class="news-new-list">
            <form>
              <div class="form-group">
                <label>Name</label>
                <input type="text" name="title" class="form-control" placeholder="タイトル入力欄">
              </div>
              <div class="form-group">
                <label>Artist profile</label>

                <textarea placeholder="本文入力欄" rows="8" class="form-control"></textarea>
              </div>
              <div class="form-group">
                <div class="col-xs-offset-2 col-xs-10">
                  <button type="submit" class="btn btn-default pull-right" style="margin-bottom: 30px;">投稿</button>
                </div>
              </div>
            </form>
          </div>
      </div>
    </div>
  </div>
</div>
