<div class="sidebar">
  <div class="user-content">
    <div class="user-image">
    </div>
    <div class="user-profile">
      <a class="my-side" href="#" style="text-decoration: none;">MY PROFILE</a>
      <a class="my-side" href="#" style="text-decoration: none;">CART</a>
      <a class="my-side" href="#" style="text-decoration: none;">MESSAGE</a>
      <a class="my-side" href="#" style="text-decoration: none;">LOGOUT</a>
    </div>
  </div>
</div>
<!-- main -->
<div class="container-fluid">
  <div class="row">
    <div class="news-new-main">
      <div class="news-new-content">
        <div class="contents-bg">
          <div class="news-new-list">
            <div class="title"><h3><strong>NEWS 編集</strong></h3></div>
            <!-- form_for -->
            <%= form_for(@news) do |f| %>
            <div style="margin: 20px 0;">
              <div class="row">
                <%= attachment_image_tag @news, :news_image, class:"img-responsive col-xs-12 col-sm-offset-3 col-sm-6" %>
              </div>
            </div>
            <div style="margin: 20px 0;">
              <label>イメージの変更</label>
              <%= f.attachment_field :news_image %>
            </div>
            <div style="margin: 20px 0;">
              <label>Title</label>
              <%= f.text_field :title, class:"form-control" %>
            </div>
            <div  style="margin: 20px 0;">
              <label>Caption</label>
              <%= f.text_area :body, class:"form-control input-lg" %>
            </div>
            <div style="margin: 20px 0;">
              <%= f.submit value: '更新', class:"btn btn-default btn-block" %>
            </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>