<div class="sidebar">
  <div class="user-content">
    <div class="user-image">
    </div>
    <div class="user-profile">
      <a class="my-side" href="#" style="text-decoration: none;">MY PROFILE</a>
      <a class="my-side" href="#" style="text-decoration: none;">CART</a>
      <a class="my-side" href="#" style="text-decoration: none;">MESSAGE</a>
      <a class="my-side" href="#" style="text-decoration: none;">LOGOUT</a>
    </div>
  </div>
</div>
<!-- main -->
<div class="container-fluid">
  <div class="row">
    <div class="news-main">
      <div class="title"><h3><strong>NEWS</strong></h3></div>
      <% @newsall.each do |news| %>
      <div class="news-content clearfix">
        <div class="row">
          <%= link_to attachment_image_tag news, :news_image, class:" col-xs-12 col-sm-3" %>
          <div class="news-caption col-xs-12 col-sm-6">
            <strong>Title:<%= news.title %></strong>
            <div style="margin-top: 10px;">
            <%= news.body %>
            <%= link_to "記事詳細へ", admin_news_post_path(news.id) %>
          </div>
          </div>
          <div class="button-box col-xs-12 col-sm-3">
            <%= link_to "Edit ",edit_admin_news_post_path(news.id), class:"btn btn-success " %>
            <%= link_to "delete ", admin_news_post_path(news.id), method: :delete, "data-confirm " => "Are you sure? ", class:"btn btn-danger " %>
          </div>
          <% end %>
        </div>
      </div>
<!--          <%= paginate @news_post, class: "pagenate" %> -->
    </div>
  </div>
</div>