<div class="clearfix">
  <div class="item-show-main">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12" style="margin-bottom: 50px;">
          <!-- メイン画像 -->
          <%= attachment_image_tag @artist, :top_image ,class:"img-responsive" %>
        </div>
      </div>
      <div class="row">
        <!-- 左サイド -->
        <div class="col-sm-4">
          <!-- item画像 -->
          <%= attachment_image_tag @item, :item_image ,class:"img-responsive col-xs-offset-2 col-xs-8 col-sm-offset-0 col-sm-12" %><br>
          <div class="row">
            <div class="col-sm-12">
              <div class="music-info col-xs-12">
                <h4 class="border-line"><span><i class="fas fa-music" style="font-size: 15px;"></i></span> Music Information</h4>
                <div class="border-line">
                  <h5>アーティスト名</h5>
                  <!-- アーティスト名 -->
                  <%= @artist.name %>
                </div>
                <div class="border-line">
                  <h5>レーベル名</h5>
                  <!-- レーベル名 -->
                  <%= @item.label %>
                </div>
                <div class="border-line">
                  <h5>ジャンル：<%= @item.genre_id %></h5>
                </div>
                <div class="border-line">
                  <h5>価格：<%= @item.price %>円</h5>
                </div>
                <div class="cart-box">
                  <!-- カートアイコン画像 -->
                  <!-- <img src="/itemimg/cart.png"> -->
                </div>
                <span>在庫数: </span>
                <%= @item.stock %><br>
                <div class="item-link">
                  <%= link_to '商品一覧へ', items_path, class:"btn btn-default btn-block" %>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- 右サイド -->
        <div class="col-sm-8">
          <div class="row">
            <div class="col-sm-11">
              <!-- itemタイトル名 -->
              <div class="music-title"><h2><strong><%= @item.title %></strong></h2></div>
              <div class="title-list">
                <table class="table">
                  <thead>
                    <% @discs.each do |disc| %>
                    <tr>
                      <th class="col-sm-1">Disc:<%= disc.disc_name %></th>
                      <th></th>
                      <th></th>
                    </tr>
                    <th><p class="text-center">track</p></th>
                    <th><p class="text-center">曲名</p></th>
                    <th class="col-sm-2"><p class="text-center"> 時間</p></th>
                  </thead>
                  <tbody>
                    <% disc.songs.each do |song| %>
                    <tr>
                      <th class="text-center"><%= song.track_order %></th>
                      <td><%= song.title %></td>
                      <td><%= song.time %></td>
                    </tr>
                    <% end %>
                  </tbody>
                  <% end %>
                </table>
                <% if @item.stock > 0 %>
                <%= form_tag item_carts_items_path(@item), method: :post do %>
                <%= number_field_tag :quantity %>
                <%= button_to 'カートに入れる',  item_carts_items_path(@item), class:"btn btn-warning" %>
                <% end %>
                <% else @item.stock == 0 %>
                <i class="fas fa-shopping-cart"> 在庫がありません</i>
                <% end %>

                <%= render 'reviews/review', item: @item %>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

