<div class="admin-user-edit-container clearfix">
  <div class="row-edit">

      <div class="main-content">
        <div class="col-xs-1 col-sm-1"></div>
      <div class= "user-pic col-xs-3 col-sm-3">
          <% if @user.profile_image_id == "0" %>
          <%= image_tag '/user2.png', class: "user-pic" %>
          <% else %>
          <%= attachment_image_tag @user, :profile_image, :fill, 230, 230, format: 'jpg', class: "user-pic" %>
          <% end %>
      </div>


      <div class="user-prof col-xs-6 col-sm-6">
            <%= form_for(@user, url: admin_users_path) do |f| %>
            <h5>プロフィール画像</h5>
            <%= f.attachment_field :profile_image %>
            <h5>ユーザー名</h5>
            <%= f.text_field :name, class: "form-control" %>
            <h5>メールアドレス</h5>
            <%= f.email_field :email, class: "form-control" %>
            <h5>姓</h5>
            <%= f.text_field :last_name, class: "form-control" %>
            <h5>姓（フリガナ）</h5>
            <%= f.text_field :last_name_furi, class: "form-control" %>
            <h5>名</h5>
            <%= f.text_field :first_name, class: "form-control" %>
            <h5>名（フリガナ）</h5>
            <%= f.text_field :first_name_furi, class: "form-control" %>
            <h5>郵便番号</h5>
            <%= f.text_field :zip, class: "form-control" %>
            <h5>住所</h5>
            <%= f.text_field :address, class: "form-control" %>
            <h5>電話番号</h5>
            <%= f.text_field :tel, class: "form-control" %>
            <%= f.submit "更新", class: "btn btn-warning btn-block user-edit-form-btn" %>
            <% end %>
        </div>
      </div>
      </div>
  </div>
</div>
