    <div class="music-title">
        <h3><strong>ユーザーレビュー</strong></h3>
    </div>
      <% @item.reviews.each do |review| %>
      <div class="review-box">
        <%= attachment_image_tag review.user, :profile_image, :fill, 40, 40, format: 'jpeg', class: "", fallback: "user1.png", :size => "40x40" %>
        <%= review.user.name %><br>
        <p><%= review.body %></p><br>
        <%= review.created_at.strftime('%Y/%m/%d') %>
      </div>
      <% end %>

      <div class="review-up-box">
        <h3><strong>レビュー投稿</strong></h3>
          <%= form_for [@item, @review] do |f| %>
<!--               <%= f.hidden_field :item_id, value: @item.id %>
              <div class="field" id="star">
                <%= f.label :star %>
                <%= f.hidden_field :star, id: :review_star %>
              </div> -->
              <%= f.text_field :body, rows:'5', class: "form-control",placeholder: "コメントをここに" %>
              <%= f.submit "送信", class: "btn btn-primary pull-right" %>
          <% end %>
<!--           <script>
          $('#star').raty({
            size     : 36,
            starOff:  '<%= asset_path('star-off.png') %>',
            starOn : '<%= asset_path('star-on.png') %>',
            scoreName: 'review[star]' });
          </script> -->
      </div>