<!DOCTYPE html>
<html>

<!-- -----ヘッダー -->

  <head>
    <title>Heavenlymusic</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <script src="ScrollTrigger.min.js"></script>
    <script>document.addEventListener('DOMContentLoaded', function(){ScrollTrigger.init();});</script>
  </head>
  <body>
    <script src="heavenlymusic.js"></script>
    <header>
      <div class="head-serch">
        <div class="serch">
          <%= form_tag items_search_path, method: :get do %>
          <%= text_field_tag :search, params[:search], class: "serch_box" %>
          <%= submit_tag "search", class: "serch_btn" %>
          <% end %>
        </div>
      </div>
      <input id="head-input" type="checkbox" class="head-unshown">
      <label id="head-open" for="head-input"><span></span></label>
      <label class="head-unshown" id="head-close" for="head-input"></label>

      <div class="head"><span class="head-title"><strong>Heavenly Music&nbsp;&nbsp;</strong></span></div>
      <div id="head-content">
        <div class="responsib-menu">
          <div class="responsib-item">
            <%= link_to "HOME", genres_path, class: "responsib-item" %>
          </div>
          <div class="responsib-item">
            <%= link_to "NEWS", news_posts_path, class: "responsib-item" %>
          </div>
          <div class="responsib-item">
            <%= link_to "ABOUT", news_posts_path, class: "responsib-item" %>
          </div>
          <div class="responsib-item">
            <%= link_to "ARTISTS", artists_path, class: "responsib-item" %>
          </div>
          <div class="responsib-item">
            <%= link_to "MESSAGE", news_posts_path, class: "responsib-item" %>
          </div>
          <div class="responsib-item">
            <%= link_to "CART", news_posts_path, class: "responsib-item" %>
          </div>
          <div class="responsib-item">
            <%= link_to 'LOGOUT', destroy_user_session_path, method: :delete, class: "responsib-item" %>
          </div>
          <div class="responsib-item">
            <%= link_to "LOGIN", new_user_session_path, class: "responsib-item" %>
          </div>
          <div class="responsib-item">
            <%= link_to "SIGN UP", new_user_registration_path, class: "responsib-item" %>
          </div>
        </div>
      </div>


    </header>

<!-- サイドバー↓ -->
<% if user_signed_in? %>
  <div class="sidebar">
    <div class="user-content">
      <div class="user-image">
          <% if current_user.profile_image == nil %>
          <%= image_tag '/user2.png', class: "user-nopic-side" %>
          <% else %>
          <%= attachment_image_tag current_user, :profile_image, :fill, 180, 180, format: 'jpg', class: "user-pic-side" %>
          <% end %>
        </div>
      <div class="user-profile">
        <%= link_to "MY PROFILE", user_path(current_user), class: "my-side", style: "text-decoration: none;" %>
        <a class="my-side" href="#" style="text-decoration: none;">CART</a>
        <a class="my-side" href="#" style="text-decoration: none;">MESSAGE</a>
        <%= link_to " LOGOUT", destroy_user_session_path, method: :delete, class: "my-side", style: "text-decoration: none;"%>
      </div>
    </div>
  </div>
<% elsif admin_signed_in? %>
<div class="sidebar">
    <div class="user-content">
      <div class="admin-image"></div>
      <div class="user-profile">
        <%= link_to "ADMIN", admin_path(current_admin), class: "my-side", style: "text-decoration: none;" %>
        <a class="my-side" href="#" style="text-decoration: none;">MESSAGE</a>
        <%= link_to " LOGOUT", destroy_admin_session_path, method: :delete, class: "my-side", style: "text-decoration: none;"%>
      </div>
    </div>
  </div>
<% else %>
  <div class="sidebar">
    <div class="user-content">
      <div class="notlogin-image"></div>
      <div class="user-profile">
          <%= link_to "SIGN UP", new_user_registration_path, class: "my-side", style: "text-decoration: none;"%>
      </div>
    </div>
  </div>
<% end %>

<%= yield %>


<!-- -----フッター -->
    <footer>
      <% if user_signed_in? %>
        <div class="footer-container">
          <div class="footer-nav">
            <ul>
              <li><%= link_to "MY PROFILE", user_path(current_user), class: "my-side" %></li>
              <li><%= link_to "CART", user_path(current_user), class: "my-side" %></li>
              <li><%= link_to "MESSAGE", user_path(current_user), class: "my-side" %></li>
              <li><%= link_to "ARTISTS", artists_path(current_user), class: "my-side" %></li>
            </ul>
            <ul>
              <li><%= link_to "ABOUT", user_path(current_user), class: "my-side" %></li>
              <li><%= link_to "NEWS", news_posts_path(current_user), class: "my-side" %></li>
              <li><%= link_to " LOGOUT", destroy_user_session_path, method: :delete, class: "my-side"%></li>
            </ul>
          </div>
          <span class="copyright"><p>©︎ Heavenly music</p></span>
        </div>
      <% elsif admin_signed_in? %>
        <div class="footer-container">
          <div class="footer-nav">
            <ul>
              <li>&nbsp;&nbsp;</li>
              <li>&nbsp;&nbsp;</li>
              <li>&nbsp;&nbsp;</li>
              <li>&nbsp;&nbsp;</li>
              <li>&nbsp;&nbsp;</li>
            </ul>
          </div>
          <span class="copyright"><p>管理者アカウントでログイン中</p></span>
        </div>
      <% else %>
        <div class="footer-container">
          <div class="footer-nav">
            <ul>
              <li>&nbsp;&nbsp;</li>
              <li>&nbsp;&nbsp;</li>
              <li>&nbsp;&nbsp;</li>
              <li>&nbsp;&nbsp;</li>
              <li>&nbsp;&nbsp;</li>
            </ul>
          </div>
          <span class="copyright"><p>©︎ Heavenly music</p></span>
        </div>
      <% end %>
    </footer>
  </body>
</html>















