<!DOCTYPE html>
<html>
  <head>
    <title>Heavenlymusic</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header>
      <div class="head-serch">
        <div class="serch">
          <form id="serch_form" action="" method="get">
          <input id="serch_box" name="s" type="text"  placeholder="キーワードを入力" >
          <input id="serch_btn" type="submit" value="検索" ><a href="#"></a></form>
        </div>
      </div>
      <input id="head-input" type="checkbox" class="head-unshown">
      <label id="head-open" for="head-input"><span></span></label>
      <label class="head-unshown" id="head-close" for="head-input"></label>

      <div class="head"><span class="head-title"><strong>Heavenly Music&nbsp;&nbsp;</strong></span></div>
      <div id="head-content">
        <div class="responsib-menu">
          <div class="responsib-item"><a href="#" style="text-decoration: none;">HOME</a></div>
          <div class="responsib-item"><a href="#" style="text-decoration: none;">NEWS</a></div>
          <div class="responsib-item"><a href="#" style="text-decoration: none;">ABOUT</a></div>
          <div class="responsib-item"><a href="#" style="text-decoration: none;">ARTISTS</a></div>
          <div class="responsib-item"><a href="#" style="text-decoration: none;">MESSAGE</a></div>
          <div class="responsib-item"><a href="#" style="text-decoration: none;">CART</a></div>
          <div class="responsib-item"><a href="#" style="text-decoration: none;">LOGOUT</a></div>
          <div class="responsib-item"><a href="#" style="text-decoration: none;">LOGIN</a></div>
          <div class="responsib-item"><a href="#" style="text-decoration: none;">SIGN IN</a></div>
          <div class="responsib-item"><a href="#" style="text-decoration: none;">退会</a></div>
        </div>
      </div>


    </header>
    <%= yield %>
    <footer>
    <div class="footer-container">
      <div class="footer-nav">
        <ul>
          <li><a href="#">MY PROFILE</a></li>
          <li><a href="#">CART</a></li>
          <li><a href="#">MESSAGE</a></li>
          <li><a href="#">ARTISTS</a></li>
        </ul>
        <ul>
          <li><a href="#">ABOUT</a></li>
          <li><a href="#">NEWS</a></li>
          <li><a href="#">LOGOUT</a></li>
        </ul>
      </div>
      <span class="copyright">©︎ Heavenly music</span>
    </div>
    </footer>
  </body>
</html>
